* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2e2e2e;
  color: #f5f5f5;
  font-size: 1.275em;
  min-height: 100vh;
}

main {
  padding: 1.7rem;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

h2 {
  font-size: 2em;
  color: #f0f0f0;
}

P {
  font-size: 1.3em;
  line-height: 1.5;
}

a {
  color: #4a90e2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  border: 2px solid #444;
  border-radius: 11px;
  padding: 2rem;
  background-color: #333;
}

ul li,
ol li {
  margin-bottom: 20px;
}

header {
  width: 100%;
  top: 0;
  padding: 3rem 2rem;
  background: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

nav a {
  font-size: 25px;
  font-weight: 600;
  margin-left: 3rem;
  color: #f5f5f5;
  transition: color 0.3s;
}

nav a:hover {
  color: #ff6347;
}

#btn {
  display: block;
  margin: 1rem auto;
  padding: 1rem 2rem;
  font-size: 1.3em;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #6f42c1;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

#btn:hover {
  background-color: #5a2e91;
}

#myForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  border: 2px solid #444;
  border-radius: 11px;
  padding: 2rem;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 10rem;
}

#myForm label {
  font-size: 1.2em;
  color: #f0f0f0;
  margin-bottom: 0.75rem;
}

#myForm input,
#myForm textarea {
  background-color: #444;
  border: 1px solid #555;
  border-radius: 8px;
  color: #f5f5f5;
  font-size: 1em;
  padding: 0.75rem;
  margin-bottom: 1rem;
  width: 100%;
}

#myForm textarea {
  resize: none;
}

#myForm input:focus,
#myForm textarea:focus {
  outline: none;
  border-color: #6f42c1;
  background-color: #555;
}

#myForm button {
  background-color: #6f42c1;
  color: #fff;
  font-size: 1.3em;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color ease 0.3s;
}

#myForm button:hover {
  background-color: #5a2e91;
}

#myForm button:active {
  background-color: #442768;
}

.enlarged {
  transform: scale(2);
  transition: transform ease 0.3s;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 12rem;
}

.galleryItem {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.fadein {
  opacity: 0;
  animation: fadein 2s ease-in forwards;
}
.fade-in {
  opacity: 0;
  animation: fadein 2s ease-in forwards;
  animation-delay: 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#animate-btn {
  background-color: #6f42c1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1.6rem 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
}
#animate-btn:hover {
  background-color: #5a2e91;
}

#animate-btn:active {
  background-color: #4d247e;
}

#ball {
  width: 2rem;
  height: 2rem;
  background-color: #2a0591;
  border-radius: 50%;
  margin: 0 auto;
}

.bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}
